a:link {
  color: red;
  text-decoration: none;
}

a:visited {
  color: purple;
  text-decoration: none;
}

a:hover {
  color: darkorange;
}

a:active {
  color: orange;
}

#header {
  /* width: 1000px;
margin: 10px auto 10px auto;
padding: 10px 10px 10px 10px; */
  font-family: system-ui;
  font-size: 1.5em;
  font-weight: bold;
  color: purple;
  background-color: white;
  /* justify-content: center;
  align-content: center;
  text-align: center; */
}

#diseaseText {
  /* width: 1000px;
margin: 10px auto 10px auto;
padding: 10px 10px 10px 10px; */
  z-index: 0;
  font-family: system-ui;
  font-size: 1em;
  font-weight: normal;
  color: purple;
}

#catalog {
  position: relative;
  z-index: 1;
  top: -130px;
  /* closer to top of screen, is this a hack? */
  justify-content: center;
  align-content: center;
  text-align: center;
}

#diseaseDetails {
  white-space: pre-wrap;
  /* Ensures that the text wraps and whitespace/newlines are respected */
  word-wrap: break-word;
  /* Breaks words that are too long for one line */
  max-width: 560px;
  /* Adjust based on your popup width */
}

.link-darkblue {
  color: darkblue;
}