html * {
  font-family: system-ui;
}

a:link {
  color: red;
  text-decoration: none;
}
a:visited {
  color: purple;
  text-decoration: none;
}
a:hover {
  color: darkorange;
}
a:active {
  color: orange;
}

#header {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: purple;
  background-color: white;
}

#sunburst {
  margin: auto;
  min-width: 928px;
  min-height: 928px;
}
